@charset "UTF-8";

:root{
    --color1: #1195D6;
    --color2: #5DB2DD;
    --color3: #073C57;
    --color4: #41535C;
    --color5: #0D75A8;
}

*{padding: 0px;margin: 0px;font-family: Arial, Helvetica, sans-serif;}
header{background-image: linear-gradient(to bottom, var(--color1),var(--color3)); 
color: white;height: 300px;}
header > p{text-align: center;padding-bottom:58px;}
.princi{color: white; text-decoration: none;padding: 10px;}
.princi:hover{transition-duration: 1s;background-color: var(--color1);border-radius: 8px;}
h1{padding-top: 100px;padding-bottom: 10px;font-size: 70px;text-align: center;}
main{max-width: 800px;margin: auto;background-color: white;}
main > p{padding: 0px 10px;font-size: 20px;}
body{background-color: rgb(230, 228, 223);}
h2{background-color: var(--color1);color: white;margin: 10px 0px;}
h2#pro{background-color: var(--color1);color: white;padding-left: 10px;margin-top: 0px;}
img{width: 50%;margin: auto;display: block;}
div#back{background: black url(../imagens/twitter_capa-2_tb.jpg) center center fixed;height: 500px;background-size: cover;margin: 10px 10px;}
p.groud{background-color: #1f1f1f7c;margin: 10px;color: white;padding: 10px;}
footer{color: white;background-color: black;text-align: center;}
a.foo{color: rgb(77, 151, 216);text-decoration: none;}
.foo:hover{text-decoration: underline;color: rgb(200, 17, 17);}
img#celular{max-width: 500px;min-width: 300px;}
table{border-collapse: collapse;width: 40vw;min-width: 300px;height: 400px;margin: auto;}
thead > tr > th{position: sticky;top: -1px;background-color: var(--color1);color: white;}
td, th{border: 2px black solid;text-align: center;}
p#final{padding: 3px;}
.lupa{width: 100px;display: block;padding: 10px;margin: 0px;margin: auto;}
.icone{border-radius: 100px;display: inline;margin: 0px;}
.icone:hover{border: #b0b0b0 solid 3px;box-sizing: border-box;}
#coluna{columns: 3;}
p.espaço-bottom{padding-bottom: 10px;}
p.espaço-top{padding-top: 10px;}
a.prici{padding: 10px;background-color: var(--color3);color: white;text-decoration: none;border-radius: 10px;}
a.prici:hover{background-color: var(--color2);transition-duration: 0.5s;}   
div#w{padding: 15px;}
iframe{width: 90%;margin: auto;display: block;height: 500px;}
a.meio{color: #ffffff;background-color: #073C57;}
a.meio:hover{background-color: #1195D6;transition-duration: 0.5s;}